.label {
  font-size: 25px;
}

.width {
  width: 90%;
}
.example-full-width {
  width: 90%;
}
.mat-horizontal-content-container {
  padding: 0;
}
.mat-card {
  width: 95%;
}
.bottum {
  padding-bottom: 10px;;
}

.togle {
  font-weight: bold;
  padding-right: 5px;
}

.label-1 {
  font-size: 15px;
  font-weight: bold;
}

.btn-color {
  color: yellow;
  border-radius: 15px 15px 15px 15px;
}

section {
  display: table;
}

.example-button-row {
  display: table-cell;
  width: 490px;

}

.example-button-row .mat-button-base {
  margin: 15px 8px 8px 0;
}

.bank-details {
  padding-bottom: 15px;
}
.fssai-details {
  padding-bottom:5px;

}
.gst-details {
  padding-bottom: 15px;
}
#btn {
  padding-top: 10px;
}
