.label {
  font-size: 25px;
}


// .example-form {

//   width: 90%;
// }
.width {
  width: 90%;
}
.example-full-width {
  width: 90%;
}
.mat-horizontal-content-container {
  padding: 0;
}
.mat-card {
  width: 95%;
}
.bottum {
  padding-bottom: 10px;;
}

.togle {
  font-weight: bold;
  padding-right: 5px;
}

.label-1 {
  font-size: 15px;
  font-weight: bold;
}
