<mat-card> <mat-label class="label">Edit Kitchen</mat-label>
 <mat-horizontal-stepper >
  <mat-step >
    <form [formGroup]="ourForm" class="example-form">
      <ng-template matStepLabel>Kitchen details</ng-template>
      <mat-grid-list cols="2" rowHeight="350px" gutterSize="10px" >
        <mat-grid-tile >
        <div>
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Name" required formControlName="name">
            </mat-form-field>
            <mat-form-field class="width">
              <mat-label >Area</mat-label>
              <mat-select required formControlName="area">
                <mat-option value="colba road">colba road</mat-option>
                <mat-option value="dobai">dobai</mat-option>
                <mat-option value="sawar nagar">sawar nagar</mat-option>
                <mat-option value="sawati nagar">sawati nagar</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter Name" required formControlName="email">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Status</mat-label>
              <mat-select  formControlName="status">
                <mat-option value="Weekly Off">Weekly Off</mat-option>
                <mat-option value="Open">Open</mat-option>
              </mat-select>
            </mat-form-field><br><br>
            <div>
              <mat-label class="togle">Is freshnom is hygine certified?</mat-label>
              <mat-slide-toggle></mat-slide-toggle>
            </div><br>
            <div>
              <mat-label class="label-1">Partner details</mat-label>
            </div>
            <mat-form-field class="example-full-width">
              <mat-label>Partner ID : </mat-label>
              <input matInput placeholder="Enter Name" required formControlName="partner_id">
            </mat-form-field>

        </div>
      </mat-grid-tile>
      <mat-grid-tile >
        <div >
          <div style="padding-bottom: 60px;">
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Enter Name" required formControlName="address">
            </mat-form-field>
            <mat-form-field class="width" >
              <mat-label>Category</mat-label>
                 <mat-select  multiple required formControlName="category" >
                  <mat-option value="Veg">Veg</mat-option>
                <mat-option value="Non-Veg">Non-Veg</mat-option>
                <mat-option value="Jain">Jain</mat-option>
                <mat-option value="Egg">Egg</mat-option>
                 </mat-select>
             </mat-form-field>

             <mat-form-field class="example-full-width">
              <mat-label>Primary Phone</mat-label>
              <span matPrefix>+91 &nbsp;</span>
              <input type="tel" matInput placeholder="8097456978" formControlName="phone_number">
            </mat-form-field>


                <div>
                  <mat-label class="label-1">Upload kitchen photo :</mat-label>
                  <mat-grid-list cols="2" rowHeight="40px" gutterSize="2px" >
                    <mat-grid-tile style="padding-right: 50px;">
                      <uploader></uploader>
                    </mat-grid-tile>
                    <mat-grid-tile style="padding-left: 50px;">
                      <mat-label style="padding-right: 20px;">Existing image</mat-label>
                      <mat-icon aria-hidden="false" style="cursor: pointer;">visibility</mat-icon>
                      </mat-grid-tile>
                  </mat-grid-list>
                </div>
                </div>
                    <mat-form-field style="padding-top: 20px;" class="example-full-width">
                      <mat-label>Alternative Phone No.</mat-label>
                      <span matPrefix>+91 &nbsp;</span>
                      <input type="tel" matInput placeholder="8097456978" required formControlName="alternative_number">
                    </mat-form-field>
                 </div>
            </mat-grid-tile>
          </mat-grid-list>

    <section>
      <div class="example-button-row">
        <button mat-stroked-button matStepperNext class="btn-color" (click)="submitData(ourForm.value)">Next</button>
        <button mat-stroked-button class="btn-color" disabled>Submit</button>
      </div>
    </section>
  </form>
  </mat-step>
  <!-- Tab-2 Bank details -->
     <mat-step [stepControl]="bank_details">
    <form [formGroup]="bank_details">
      <ng-template matStepLabel>Bank Details</ng-template>
      <mat-grid-list cols="2" rowHeight="200px" gutterSize="10px" >
        <mat-grid-tile >
        <div>
            <mat-form-field class="example-full-width">
              <mat-label>Bank Account No.</mat-label>
              <input matInput placeholder="Enter Account number" type="number" required formControlName="bank_number">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Bank Name</mat-label>
              <input matInput placeholder="Enter Name" required formControlName="bank_name">
            </mat-form-field>
            <mat-label class="label-1">Upload Bank document :</mat-label>
            <uploader></uploader>
        </div>
      </mat-grid-tile>
      <mat-grid-tile >

          <div class="bank-details">
            <mat-form-field class="example-full-width">
              <mat-label>Bank IFSC code</mat-label>
              <input matInput placeholder="Enter Name" required formControlName="bank_ifsc">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Bank Branch</mat-label>
              <input matInput placeholder="Enter Name" required formControlName="bank_branch">
            </mat-form-field>
                      <mat-label style="padding-right: 20px;">Existing image</mat-label>
                      <mat-icon aria-hidden="false" style="cursor: pointer;">visibility</mat-icon>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    <section>
      <div class="example-button-row" id="btn">
        <button mat-stroked-button matStepperNext class="btn-color" (click)="submitData(bank_details.value)">Next</button>
        <button mat-stroked-button class="btn-color" disabled>Submit</button>
       </div>
    </section>
    </form>
  </mat-step>
  <!-- Tab-3 FSSAI details -->
   <mat-step [stepControl]="fssai_details">
    <form [formGroup]="fssai_details">
    <ng-template matStepLabel>FSSAI details</ng-template>
    <mat-grid-list cols="2" rowHeight="250px" gutterSize="10px" >
      <mat-grid-tile >
      <div>
          <mat-form-field class="example-full-width">
            <mat-label>License Number</mat-label>
            <input matInput placeholder="Enter FSSAI License number" required formControlName="license_number">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Authorized Address</mat-label>
            <input matInput placeholder="Enter Address" required formControlName="authorized_address">
          </mat-form-field>
          <mat-form-field class="example-full-width" >
            <mat-label>Validity</mat-label>
            <span matPrefix>Current :  &nbsp;</span>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field><br>
          <mat-label class="label-1">Upload FSSAI certificate :</mat-label>
          <uploader></uploader>
      </div>
    </mat-grid-tile>
    <mat-grid-tile >

        <div class="fssai-details">
          <mat-form-field class="example-full-width">
            <mat-label>Authorized Name</mat-label>
            <input matInput placeholder="Enter Name" required formControlName="authorized_name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Career Name</mat-label>
            <input matInput placeholder="Enter Name" required formControlName="career_name">
          </mat-form-field>
          <div style="padding-top: 70px;" >
            <mat-label style="padding-right: 20px;">Existing image</mat-label>
            <mat-icon aria-hidden="false" style="cursor: pointer;">visibility</mat-icon>

          </div>
              </div>
          </mat-grid-tile>
        </mat-grid-list>

  </form>
  <section>
    <div class="example-button-row" id="btn">
      <button mat-stroked-button matStepperNext class="btn-color" (click)="submitData(fssai_details.value)">Next</button>
      <button mat-stroked-button class="btn-color" disabled>Submit</button>
  </div>
  </section>
  </mat-step>
  <!-- Tab-4 GST details -->
   <mat-step [stepControl]="gst_details">
    <form [formGroup]="gst_details">
    <ng-template matStepLabel>GST details</ng-template>
    <mat-grid-list cols="2" rowHeight="120px" gutterSize="10px" >
      <mat-grid-tile >
      <div >
          <mat-form-field class="example-full-width">
            <mat-label>GST Number</mat-label>
            <input matInput placeholder="Enter GST number" required
            type="number"
            formControlName="gst_number">
          </mat-form-field>
          <mat-label class="label-1">Upload GST certificate :</mat-label>
          <uploader></uploader>
      </div>
    </mat-grid-tile>
    <mat-grid-tile >

        <div style="width: 90%;" class="gst-details">
          <mat-form-field class="example-full-width">
            <mat-label>Confirm GST Number</mat-label>
            <input matInput placeholder="Confirm GST number" required
            type="number"
            formControlName="confirm_number">
          </mat-form-field>

          <div   >
            <mat-label style="padding-right: 20px;">Existing image</mat-label>
            <mat-icon aria-hidden="false" style="cursor: pointer;">visibility</mat-icon>

          </div>
              </div>
          </mat-grid-tile>
        </mat-grid-list>

  </form>
  <section>
    <div class="example-button-row" id="btn">
      <button mat-stroked-button matStepperNext class="btn-color"
      [disabled]="gst_details.invalid"
      (click)="submitData(gst_details.value)">Submit</button>

    </div>
  </section>
  </mat-step>
</mat-horizontal-stepper>
</mat-card>


