<mat-card> <mat-label class="label">Edit Kitchen</mat-label>
 <mat-horizontal-stepper >
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="secondFormGroup" class="example-form">
      <ng-template matStepLabel>Kitchen details</ng-template>
      <mat-grid-list cols="2" rowHeight="350px" gutterSize="10px" >
        <mat-grid-tile >
        <div>
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Name" required>
            </mat-form-field>
            <mat-form-field class="width">
              <mat-label required>Area</mat-label>
              <mat-select >
                <mat-option value="dfdfdfgfdgfdgdfgdf">fgfdgffgfdgfdgfdgfdgfdgdd</mat-option>
                <mat-option value="valid">Valid option</mat-option>
                <mat-option value="invalid">Invalid option</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter Name" required>
            </mat-form-field>
            <mat-form-field >
              <mat-label>Status</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field><br><br>
            <div>
              <mat-label class="togle">Is freshnom is hygine certified?</mat-label>
              <mat-slide-toggle></mat-slide-toggle>
            </div><br>
            <div>
              <mat-label class="label-1">Partner details</mat-label>
            </div>
            <mat-form-field class="example-full-width">
              <mat-label>Partner</mat-label>
              <input matInput placeholder="Enter Name" required>
            </mat-form-field>

        </div>
      </mat-grid-tile>
      <mat-grid-tile >
        <div >
          <div style="padding-bottom: 60px;">
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Enter Name" required>
            </mat-form-field>
            <mat-form-field class="width">
              <mat-label>Toppings</mat-label>
                 <mat-select [formControl]="toppings" multiple>
                   <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                 </mat-select>
             </mat-form-field>

             <mat-form-field class="example-full-width">
              <mat-label>Primary Phone</mat-label>
              <span matPrefix>+91 &nbsp;</span>
              <input type="tel" matInput placeholder="8097456978">
            </mat-form-field>


                <div>
                  <mat-label class="label-1">Upload kitchen photo :</mat-label>
                  <mat-grid-list cols="2" rowHeight="40px" gutterSize="2px" >
                    <mat-grid-tile style="padding-right: 50px;">
                      <uploader></uploader>
                    </mat-grid-tile>
                    <mat-grid-tile style="padding-left: 50px;">
                      <mat-label style="padding-right: 20px;">Existing image</mat-label>
                      <mat-icon aria-hidden="false" style="cursor: pointer;">visibility</mat-icon>
                      </mat-grid-tile>
                  </mat-grid-list>
                </div>
                </div>
                <mat-form-field style="padding-top: 20px;" class="example-full-width">
                  <mat-label>Alternative Phone No.</mat-label>
                  <span matPrefix>+91 &nbsp;</span>
                  <input type="tel" matInput placeholder="8097456978" required>
                </mat-form-field>

        </div>

      </mat-grid-tile>
        <!-- <mat-grid-tile>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input matInput placeholder="School road" required>
            </mat-form-field>
        </div>
        </mat-grid-tile> -->
      </mat-grid-list>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <!-- Tab-2 Bank details -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Bank Details</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Tab-3 FSSAI details -->
  <mat-step>
    <ng-template matStepLabel>FSSAI details</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button >Reset</button>
    </div>
  </mat-step>
  <!-- Tab-2 GST details -->
  <mat-step>
    <ng-template matStepLabel>GST details</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button >Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</mat-card>
<!-- <form [formGroup]="secondFormGroup" >
  <mat-grid-list cols="2" rowHeight="200px" gutterSize="10px">
    <mat-grid-tile>
      <div >
        <input type="hidden" >
        <mat-form-field>
          <input  matInput placeholder="Full Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  matInput placeholder="Mobile*">

        </mat-form-field>
        <mat-form-field>
          <input  matInput placeholder="City">
        </mat-form-field>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</form> -->


